# Site settings
title: Olusola Timothy Ogundepo
description: Data Scientist | Python Expert | AI/ML Specialist
author: Olusola Timothy Ogundepo
email: olusolaogundepo@gmail.com
url: "https://comsavvy.github.io" # the base hostname & protocol for your site
baseurl: "" # the subpath of your site, e.g. /blog

# Build settings
markdown: kramdown
permalink: pretty

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .sass-cache
  - .jekyll-cache
  - gemfiles
  - README.md

# Include files
include:
  - _redirects

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
