.title {
    color: #007bff;
}

.remove-margin {
    margin-top: 0;
}

#homepage {
    .specilize {
        font-size: 4rem;
        font-family: Arial;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #007bff;

        .typed {
            font-weight: bold;
        }
    }

    .welcome {
        font-size: 4rem;
        font-family: Impact;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #007bff;
    }

    .name {
        text-align: center;
        font-size: 5rem;
        font-family: Arial;
        justify-content: center;
        align-items: center;
        color: #007bff;
    }
}

#news-page {

    h1,
    h2 {
        color: #007bff;
    }
}

#cv-styles {
    .embed-container {
        position: relative;
        padding-bottom: 129%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#certification {
    h4 {
        margin-top: 0;
    }

    .cert_experience {
        margin-right: 20%;
    }
}

#skills-page {

    ul,
    ol {
        line-height: 1.7;
    }
}